# Application Port
PORT=3000

# EMQX MQTT Broker Configuration
MQTT_BROKER_URL=mqtts://<your_emqx_host>:8883
MQTT_USERNAME=<your_mqtt_username>
MQTT_PASSWORD=<your_mqtt_password>

# InfluxDB Cloud Configuration
INFLUXDB_URL=https://<your_influxdb_cloud_region>.aws.cloud2.influxdata.com
INFLUXDB_TOKEN=<your_influxdb_token>
INFLUXDB_ORG=<your_influxdb_org>
INFLUXDB_BUCKET=Hackspire
